html, body, div#shell {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

div#shell {
    word-wrap: break-word;
    background: #333;
    overflow: auto;
}

div#shell div.jquery-console-inner {
    padding: 0.5em;
}

div#shell div.jquery-console-prompt-box, div.jquery-console-message-success {
    color: #fff;
    font-family: monospace;
}

div#shell div.jquery-console-focus span.jquery-console-cursor {
    background: #fefefe;
    color: #333;
    font-weight: bold;
}

div#shell span.jquery-console-prompt-label {
    font-weight: bold;
}
